<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysBasebandParamValueMapper">
    
    <resultMap type="SysBasebandParamValue" id="SysBasebandParamValueResult">
        <result property="valueId"    column="value_id"    />
        <result property="unitId"    column="unit_id"    />
        <result property="paramId"    column="param_id"    />
        <result property="rawValue"    column="raw_value"    />
        <result property="uintValue"    column="uint_value"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysBasebandParamValueVo">
        select value_id, unit_id, param_id, raw_value, uint_value, update_by, update_time from sys_baseband_param_value
    </sql>

    <select id="selectSysBasebandParamValueByValueId" parameterType="Long" resultMap="SysBasebandParamValueResult">
        <include refid="selectSysBasebandParamValueVo"/>
        where value_id = #{valueId}
    </select>

    <select id="selectSysBasebandParamValueByUnitAndParam" resultMap="SysBasebandParamValueResult">
        <include refid="selectSysBasebandParamValueVo"/>
        where unit_id = #{unitId} and param_id = #{paramId}
    </select>

    <select id="selectSysBasebandParamValueByUnitId" parameterType="Long" resultMap="SysBasebandParamValueResult">
        <include refid="selectSysBasebandParamValueVo"/>
        where unit_id = #{unitId}
    </select>
        
    <insert id="insertSysBasebandParamValue" parameterType="SysBasebandParamValue" useGeneratedKeys="true" keyProperty="valueId">
        insert into sys_baseband_param_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unitId != null">unit_id,</if>
            <if test="paramId != null">param_id,</if>
            <if test="rawValue != null and rawValue != ''">raw_value,</if>
            <if test="uintValue != null">uint_value,</if>
            <if test="updateBy != null">update_by,</if>
            update_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unitId != null">#{unitId},</if>
            <if test="paramId != null">#{paramId},</if>
            <if test="rawValue != null and rawValue != ''">#{rawValue},</if>
            <if test="uintValue != null">#{uintValue},</if>
            <if test="updateBy != null">#{updateBy},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateSysBasebandParamValue" parameterType="SysBasebandParamValue">
        update sys_baseband_param_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="rawValue != null and rawValue != ''">raw_value = #{rawValue},</if>
            <if test="uintValue != null">uint_value = #{uintValue},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where value_id = #{valueId}
    </update>

    <delete id="deleteSysBasebandParamValueByValueId" parameterType="Long">
        delete from sys_baseband_param_value where value_id = #{valueId}
    </delete>

    <delete id="deleteSysBasebandParamValueByUnitId" parameterType="Long">
        delete from sys_baseband_param_value where unit_id = #{unitId}
    </delete>

    <select id="selectParamVoListByUnitId" parameterType="Long" resultType="com.ruoyi.system.domain.vo.BasebandParamVo">
        SELECT 
            d.param_id AS paramId,
            d.param_name AS paramName,
            d.param_code AS paramCode,
            d.value_type AS valueType,
            d.enum_options AS enumOptions,
            d.bit_width_type AS bitWidthType,
            d.sort_order AS sortOrder,
            d.default_value AS defaultValue,
            v.raw_value AS rawValue,
            v.uint_value AS uintValue
        FROM sys_baseband_param_def d
        INNER JOIN sys_baseband_unit u ON d.unit_type = u.unit_type
        LEFT JOIN sys_baseband_param_value v ON v.param_id = d.param_id AND v.unit_id = u.unit_id
        WHERE u.unit_id = #{unitId}
        ORDER BY d.sort_order ASC, d.param_id ASC
    </select>
</mapper>
